@import url("https://fonts.googleapis.com/css2?family=Raleway%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Rubik%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Shadows+Into+Light+Two%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-MF_LXv63B-_4YN: #fcfbfb;
  --plasmic-token-white: var(--token-MF_LXv63B-_4YN);
  --token-e3aulsK3H: #ffccd3;
  --plasmic-token-primary: var(--token-e3aulsK3H);
  --token-PKBerdVEP: #564972;
  --plasmic-token-secondary: var(--token-PKBerdVEP);
  --token-Ux81CshiPIioAz: #010101;
  --plasmic-token-black: var(--token-Ux81CshiPIioAz);
}

.plasmic_default_styles {
  --mixin-BKMrTXOqdS6Kgq_font-family: "Raleway", sans-serif;
  --mixin-BKMrTXOqdS6Kgq_font-size: 16px;
  --mixin-BKMrTXOqdS6Kgq_font-weight: 400;
  --mixin-BKMrTXOqdS6Kgq_font-style: normal;
  --mixin-BKMrTXOqdS6Kgq_color: var(--token-Ux81CshiPIioAz);
  --mixin-BKMrTXOqdS6Kgq_text-align: left;
  --mixin-BKMrTXOqdS6Kgq_text-transform: none;
  --mixin-BKMrTXOqdS6Kgq_letter-spacing: 1px;
  --mixin-BKMrTXOqdS6Kgq_white-space: pre-wrap;
  --mixin-BKMrTXOqdS6Kgq_user-select: text;
  --mixin-BKMrTXOqdS6Kgq_text-decoration-line: none;
  --mixin-BKMrTXOqdS6Kgq_text-overflow: clip;
  --mixin-_zktMSkeETL2td_font-weight: 600;
  --mixin-_zktMSkeETL2td_font-size: 50px;
  --mixin-_zktMSkeETL2td_line-height: 1;
  --mixin-_zktMSkeETL2td_letter-spacing: 0px;
  --mixin-_zktMSkeETL2td_white-space: pre-wrap;
  --mixin-YED50LT9b3cz2G_color: #000000;
  --mixin-YED50LT9b3cz2G_font-weight: 600;
  --mixin-YED50LT9b3cz2G_font-size: 40px;
  --mixin-YED50LT9b3cz2G_line-height: 1.1;
  --mixin-YED50LT9b3cz2G_letter-spacing: -1px;
  --mixin-YED50LT9b3cz2G_font-family: "Rubik", sans-serif;
  --mixin-YED50LT9b3cz2G_white-space: pre-wrap;
  --mixin-CgOgNsKxekV391_color: var(--token-MF_LXv63B-_4YN);
  --mixin-CgOgNsKxekV391_font-family: "Rubik", sans-serif;
  --mixin-CgOgNsKxekV391_font-weight: 600;
  --mixin-CgOgNsKxekV391_font-size: 16px;
  --mixin-CgOgNsKxekV391_text-transform: uppercase;
  --mixin-CgOgNsKxekV391_white-space: pre-wrap;
  --mixin-_ybFsUZ7sJOGKt_font-family: "Inter", sans-serif;
  --mixin-_ybFsUZ7sJOGKt_color: #000000;
  --mixin-_ybFsUZ7sJOGKt_font-size: 32px;
  --mixin-_ybFsUZ7sJOGKt_font-weight: 600;
  --mixin-_ybFsUZ7sJOGKt_letter-spacing: -0.8px;
  --mixin-_ybFsUZ7sJOGKt_line-height: 1.2;
  --mixin-_ybFsUZ7sJOGKt_white-space: pre-wrap;
  --mixin-T2c_hKvL8iyfF4_font-family: "Inter", sans-serif;
  --mixin-T2c_hKvL8iyfF4_color: #000000;
  --mixin-T2c_hKvL8iyfF4_font-size: 24px;
  --mixin-T2c_hKvL8iyfF4_font-weight: 600;
  --mixin-T2c_hKvL8iyfF4_letter-spacing: -0.5px;
  --mixin-T2c_hKvL8iyfF4_line-height: 1.3;
  --mixin-T2c_hKvL8iyfF4_white-space: pre-wrap;
  --mixin-pwNrD7DJCX96dp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pwNrD7DJCX96dp_border-bottom-color: #dddddd;
  --mixin-pwNrD7DJCX96dp_border-bottom-style: solid;
  --mixin-pwNrD7DJCX96dp_border-bottom-width: 1px;
  --mixin-pwNrD7DJCX96dp_border-left-color: #dddddd;
  --mixin-pwNrD7DJCX96dp_border-left-style: solid;
  --mixin-pwNrD7DJCX96dp_border-left-width: 1px;
  --mixin-pwNrD7DJCX96dp_border-right-color: #dddddd;
  --mixin-pwNrD7DJCX96dp_border-right-style: solid;
  --mixin-pwNrD7DJCX96dp_border-right-width: 1px;
  --mixin-pwNrD7DJCX96dp_border-top-color: #dddddd;
  --mixin-pwNrD7DJCX96dp_border-top-style: solid;
  --mixin-pwNrD7DJCX96dp_border-top-width: 1px;
  --mixin-pwNrD7DJCX96dp_border-bottom-left-radius: 3px;
  --mixin-pwNrD7DJCX96dp_border-bottom-right-radius: 3px;
  --mixin-pwNrD7DJCX96dp_border-top-left-radius: 3px;
  --mixin-pwNrD7DJCX96dp_border-top-right-radius: 3px;
  --mixin-pwNrD7DJCX96dp_font-family: "Inconsolata";
  --mixin-pwNrD7DJCX96dp_padding-bottom: 1px;
  --mixin-pwNrD7DJCX96dp_padding-left: 4px;
  --mixin-pwNrD7DJCX96dp_padding-right: 4px;
  --mixin-pwNrD7DJCX96dp_padding-top: 1px;
  --mixin-pwNrD7DJCX96dp_white-space: pre-wrap;
  --mixin-m01jtFFvOzcukq_border-left-color: #dddddd;
  --mixin-m01jtFFvOzcukq_border-left-style: solid;
  --mixin-m01jtFFvOzcukq_border-left-width: 3px;
  --mixin-m01jtFFvOzcukq_color: #888888;
  --mixin-m01jtFFvOzcukq_padding-left: 10px;
  --mixin-m01jtFFvOzcukq_white-space: pre-wrap;
  --mixin-lKhyK4Jvqnz54G_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lKhyK4Jvqnz54G_border-bottom-color: #dddddd;
  --mixin-lKhyK4Jvqnz54G_border-bottom-style: solid;
  --mixin-lKhyK4Jvqnz54G_border-bottom-width: 1px;
  --mixin-lKhyK4Jvqnz54G_border-left-color: #dddddd;
  --mixin-lKhyK4Jvqnz54G_border-left-style: solid;
  --mixin-lKhyK4Jvqnz54G_border-left-width: 1px;
  --mixin-lKhyK4Jvqnz54G_border-right-color: #dddddd;
  --mixin-lKhyK4Jvqnz54G_border-right-style: solid;
  --mixin-lKhyK4Jvqnz54G_border-right-width: 1px;
  --mixin-lKhyK4Jvqnz54G_border-top-color: #dddddd;
  --mixin-lKhyK4Jvqnz54G_border-top-style: solid;
  --mixin-lKhyK4Jvqnz54G_border-top-width: 1px;
  --mixin-lKhyK4Jvqnz54G_border-bottom-left-radius: 3px;
  --mixin-lKhyK4Jvqnz54G_border-bottom-right-radius: 3px;
  --mixin-lKhyK4Jvqnz54G_border-top-left-radius: 3px;
  --mixin-lKhyK4Jvqnz54G_border-top-right-radius: 3px;
  --mixin-lKhyK4Jvqnz54G_font-family: "Inconsolata";
  --mixin-lKhyK4Jvqnz54G_padding-bottom: 3px;
  --mixin-lKhyK4Jvqnz54G_padding-left: 6px;
  --mixin-lKhyK4Jvqnz54G_padding-right: 6px;
  --mixin-lKhyK4Jvqnz54G_padding-top: 3px;
  --mixin-lKhyK4Jvqnz54G_white-space: pre-wrap;
  --mixin-8hnZsbmGh-ptWU_font-family: "Rubik", sans-serif;
  --mixin-8hnZsbmGh-ptWU_font-weight: 500;
  --mixin-8hnZsbmGh-ptWU_font-size: 20px;
  --mixin-8hnZsbmGh-ptWU_white-space: pre-wrap;
  --mixin-12bNbKnauft6m0_font-family: "Inter", sans-serif;
  --mixin-12bNbKnauft6m0_color: #000000;
  --mixin-12bNbKnauft6m0_font-size: 20px;
  --mixin-12bNbKnauft6m0_font-weight: 600;
  --mixin-12bNbKnauft6m0_letter-spacing: -0.3px;
  --mixin-12bNbKnauft6m0_line-height: 1.5;
  --mixin-12bNbKnauft6m0_white-space: pre-wrap;
  --mixin-Mohj2jffs5L7u7_display: flex;
  --mixin-Mohj2jffs5L7u7_flex-direction: column;
  --mixin-Mohj2jffs5L7u7_align-items: stretch;
  --mixin-Mohj2jffs5L7u7_justify-content: flex-start;
  --mixin-Mohj2jffs5L7u7_list-style-position: outside;
  --mixin-Mohj2jffs5L7u7_padding-left: 40px;
  --mixin-Mohj2jffs5L7u7_position: relative;
  --mixin-Mohj2jffs5L7u7_list-style-type: decimal;
  --mixin-Mohj2jffs5L7u7_white-space: pre-wrap;
  --mixin-hRODfE2oDeLDbL_display: flex;
  --mixin-hRODfE2oDeLDbL_flex-direction: column;
  --mixin-hRODfE2oDeLDbL_align-items: stretch;
  --mixin-hRODfE2oDeLDbL_justify-content: flex-start;
  --mixin-hRODfE2oDeLDbL_list-style-position: outside;
  --mixin-hRODfE2oDeLDbL_padding-left: 40px;
  --mixin-hRODfE2oDeLDbL_position: relative;
  --mixin-hRODfE2oDeLDbL_list-style-type: disc;
  --mixin-hRODfE2oDeLDbL_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-BKMrTXOqdS6Kgq_font-family);
  font-size: var(--mixin-BKMrTXOqdS6Kgq_font-size);
  font-weight: var(--mixin-BKMrTXOqdS6Kgq_font-weight);
  font-style: var(--mixin-BKMrTXOqdS6Kgq_font-style);
  color: var(--mixin-BKMrTXOqdS6Kgq_color);
  text-align: var(--mixin-BKMrTXOqdS6Kgq_text-align);
  text-transform: var(--mixin-BKMrTXOqdS6Kgq_text-transform);
  letter-spacing: var(--mixin-BKMrTXOqdS6Kgq_letter-spacing);
  white-space: var(--mixin-BKMrTXOqdS6Kgq_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-weight: var(--mixin-_zktMSkeETL2td_font-weight);
  font-size: var(--mixin-_zktMSkeETL2td_font-size);
  line-height: var(--mixin-_zktMSkeETL2td_line-height);
  letter-spacing: var(--mixin-_zktMSkeETL2td_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-YED50LT9b3cz2G_color);
  font-weight: var(--mixin-YED50LT9b3cz2G_font-weight);
  font-size: var(--mixin-YED50LT9b3cz2G_font-size);
  line-height: var(--mixin-YED50LT9b3cz2G_line-height);
  letter-spacing: var(--mixin-YED50LT9b3cz2G_letter-spacing);
  font-family: var(--mixin-YED50LT9b3cz2G_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-CgOgNsKxekV391_color);
  font-family: var(--mixin-CgOgNsKxekV391_font-family);
  font-weight: var(--mixin-CgOgNsKxekV391_font-weight);
  font-size: var(--mixin-CgOgNsKxekV391_font-size);
  text-transform: var(--mixin-CgOgNsKxekV391_text-transform);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-_ybFsUZ7sJOGKt_font-family);
  color: var(--mixin-_ybFsUZ7sJOGKt_color);
  font-size: var(--mixin-_ybFsUZ7sJOGKt_font-size);
  font-weight: var(--mixin-_ybFsUZ7sJOGKt_font-weight);
  letter-spacing: var(--mixin-_ybFsUZ7sJOGKt_letter-spacing);
  line-height: var(--mixin-_ybFsUZ7sJOGKt_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-T2c_hKvL8iyfF4_font-family);
  color: var(--mixin-T2c_hKvL8iyfF4_color);
  font-size: var(--mixin-T2c_hKvL8iyfF4_font-size);
  font-weight: var(--mixin-T2c_hKvL8iyfF4_font-weight);
  letter-spacing: var(--mixin-T2c_hKvL8iyfF4_letter-spacing);
  line-height: var(--mixin-T2c_hKvL8iyfF4_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-pwNrD7DJCX96dp_background);
  font-family: var(--mixin-pwNrD7DJCX96dp_font-family);
  border-radius: var(--mixin-pwNrD7DJCX96dp_border-top-left-radius)
    var(--mixin-pwNrD7DJCX96dp_border-top-right-radius)
    var(--mixin-pwNrD7DJCX96dp_border-bottom-right-radius)
    var(--mixin-pwNrD7DJCX96dp_border-bottom-left-radius);
  padding: var(--mixin-pwNrD7DJCX96dp_padding-top)
    var(--mixin-pwNrD7DJCX96dp_padding-right)
    var(--mixin-pwNrD7DJCX96dp_padding-bottom)
    var(--mixin-pwNrD7DJCX96dp_padding-left);
  border-top: var(--mixin-pwNrD7DJCX96dp_border-top-width)
    var(--mixin-pwNrD7DJCX96dp_border-top-style)
    var(--mixin-pwNrD7DJCX96dp_border-top-color);
  border-right: var(--mixin-pwNrD7DJCX96dp_border-right-width)
    var(--mixin-pwNrD7DJCX96dp_border-right-style)
    var(--mixin-pwNrD7DJCX96dp_border-right-color);
  border-bottom: var(--mixin-pwNrD7DJCX96dp_border-bottom-width)
    var(--mixin-pwNrD7DJCX96dp_border-bottom-style)
    var(--mixin-pwNrD7DJCX96dp_border-bottom-color);
  border-left: var(--mixin-pwNrD7DJCX96dp_border-left-width)
    var(--mixin-pwNrD7DJCX96dp_border-left-style)
    var(--mixin-pwNrD7DJCX96dp_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-m01jtFFvOzcukq_color);
  padding-left: var(--mixin-m01jtFFvOzcukq_padding-left);
  border-left: var(--mixin-m01jtFFvOzcukq_border-left-width)
    var(--mixin-m01jtFFvOzcukq_border-left-style)
    var(--mixin-m01jtFFvOzcukq_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-lKhyK4Jvqnz54G_background);
  font-family: var(--mixin-lKhyK4Jvqnz54G_font-family);
  border-radius: var(--mixin-lKhyK4Jvqnz54G_border-top-left-radius)
    var(--mixin-lKhyK4Jvqnz54G_border-top-right-radius)
    var(--mixin-lKhyK4Jvqnz54G_border-bottom-right-radius)
    var(--mixin-lKhyK4Jvqnz54G_border-bottom-left-radius);
  padding: var(--mixin-lKhyK4Jvqnz54G_padding-top)
    var(--mixin-lKhyK4Jvqnz54G_padding-right)
    var(--mixin-lKhyK4Jvqnz54G_padding-bottom)
    var(--mixin-lKhyK4Jvqnz54G_padding-left);
  border-top: var(--mixin-lKhyK4Jvqnz54G_border-top-width)
    var(--mixin-lKhyK4Jvqnz54G_border-top-style)
    var(--mixin-lKhyK4Jvqnz54G_border-top-color);
  border-right: var(--mixin-lKhyK4Jvqnz54G_border-right-width)
    var(--mixin-lKhyK4Jvqnz54G_border-right-style)
    var(--mixin-lKhyK4Jvqnz54G_border-right-color);
  border-bottom: var(--mixin-lKhyK4Jvqnz54G_border-bottom-width)
    var(--mixin-lKhyK4Jvqnz54G_border-bottom-style)
    var(--mixin-lKhyK4Jvqnz54G_border-bottom-color);
  border-left: var(--mixin-lKhyK4Jvqnz54G_border-left-width)
    var(--mixin-lKhyK4Jvqnz54G_border-left-style)
    var(--mixin-lKhyK4Jvqnz54G_border-left-color);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-8hnZsbmGh-ptWU_font-family);
  font-weight: var(--mixin-8hnZsbmGh-ptWU_font-weight);
  font-size: var(--mixin-8hnZsbmGh-ptWU_font-size);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-12bNbKnauft6m0_font-family);
  color: var(--mixin-12bNbKnauft6m0_color);
  font-size: var(--mixin-12bNbKnauft6m0_font-size);
  font-weight: var(--mixin-12bNbKnauft6m0_font-weight);
  letter-spacing: var(--mixin-12bNbKnauft6m0_letter-spacing);
  line-height: var(--mixin-12bNbKnauft6m0_line-height);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Mohj2jffs5L7u7_display);
  flex-direction: var(--mixin-Mohj2jffs5L7u7_flex-direction);
  align-items: var(--mixin-Mohj2jffs5L7u7_align-items);
  justify-content: var(--mixin-Mohj2jffs5L7u7_justify-content);
  list-style-position: var(--mixin-Mohj2jffs5L7u7_list-style-position);
  padding-left: var(--mixin-Mohj2jffs5L7u7_padding-left);
  position: var(--mixin-Mohj2jffs5L7u7_position);
  list-style-type: var(--mixin-Mohj2jffs5L7u7_list-style-type);
  flex-column-gap: var(--mixin-Mohj2jffs5L7u7_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-hRODfE2oDeLDbL_display);
  flex-direction: var(--mixin-hRODfE2oDeLDbL_flex-direction);
  align-items: var(--mixin-hRODfE2oDeLDbL_align-items);
  justify-content: var(--mixin-hRODfE2oDeLDbL_justify-content);
  list-style-position: var(--mixin-hRODfE2oDeLDbL_list-style-position);
  padding-left: var(--mixin-hRODfE2oDeLDbL_padding-left);
  position: var(--mixin-hRODfE2oDeLDbL_position);
  list-style-type: var(--mixin-hRODfE2oDeLDbL_list-style-type);
  flex-column-gap: var(--mixin-hRODfE2oDeLDbL_flex-column-gap);
}
